<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GetIdFromSelectedRow.Properties.Settings.RDTimeTrackConnectionString"
            connectionString="Data Source=LEGLFTWR168728\SQLEXPRESS;Initial Catalog=RDTimeTrack;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>